<ion-header>
  <ion-toolbar color="success">
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/unlock-ionkerul.png">
    <ion-card-header>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="username"
          type="text"
          placeholder="Username">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password"
          type="password"
          placeholder="Password">
          </ion-input>
        </ion-item>
        <ion-button expand="full" (click)="checkUser()"
        color="success">
          Log-in <ion-icon name="lock-open-outline"></ion-icon>
        </ion-button>
        <ion-item color="warning"
        *ngIf= " username==null||username=='' ">
          Pls enter username
      </ion-item>
      <ion-item color="warning"
      *ngIf= " password==null||password=='' ">
          Pls enter password
      </ion-item>
        

      </ion-card-content>
  </ion-card>

</ion-content>
