<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Kongsikan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="welcome-card">
		<img src="/assets/banner1024x500.png" alt="" />
	  <ion-card-header >
      Kongsikan medsos kami
    </ion-card-header>

    <ion-card-content>
      <ion-item-sliding>
        <ion-item href="http://facebook.com/kuis.fstm">
          Like fb.com/kuis.fstm 
          <ion-icon name="logo-facebook" slot="start"
          color="primary"></ion-icon>
        </ion-item>
        <ion-item href="http://instagram.com/kuis.fstm">
          Follow instagram @kuis.fstm 
          <ion-icon name="logo-instagram" slot="start"
          color="secondary"></ion-icon>
        </ion-item>
        <ion-item href="http://bit.ly/fstmkuis">
          Subscribe youtube/fstmkuis
          <ion-icon name="logo-youtube" slot="start"
          color="danger"></ion-icon>
        </ion-item>
        <ion-item href="http://fstm.kuis.edu.my">
          Visit fstm.kuis.edu.my
          <ion-icon name="globe" slot="start"
          color="success"></ion-icon>
        </ion-item>
        <ion-item href="http://wasap.my/60129034614">
          Wasap us
          <ion-icon name="logo-whatsapp" slot="start"
          color="success"></ion-icon>
        </ion-item>
        <ion-item href="http://bit.ly/mapfstm">
          Location bit.ly/mapfstm
          <ion-icon name="location" slot="start"
          color="warning"></ion-icon>
        </ion-item>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>
</ion-content>
