<ion-header>
  <ion-toolbar>
    <ion-title>todo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="addtodo()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Default Segment -->
<ion-segment mode="ios" 
(ionChange)="segmentChanged($event)" value="uncheck">
  <ion-segment-button value="uncheck">
    <ion-label>Uncheck</ion-label>
  </ion-segment-button>
  <ion-segment-button value="check">
    <ion-label>Check</ion-label>
  </ion-segment-button>
</ion-segment>


  <ion-list>

    <ion-item-sliding *ngFor="let todo of filtertodo">
      <ion-item>
        <ion-label>{{todo.label}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="todo.check==false"
        color="success" (click)="checked(todo)">
          <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="todo.check==true" 
        color="danger" (click)="checked(todo)">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-item-option>
        
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
