<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Build ur own PC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- tab1.page.html -->
  
  <ion-card>
    <img src="assets/banner2.png">
    <ion-card-header>
      <ion-card-title>About BYOPC</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bla... bla...bla byopc<br>

      <ion-item>
        Wasap me here 
        <ion-icon name ="logo-whatsapp" slot="end" color="success">
        </ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
