<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Input Form Sample</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- add using skala variable -->
  <ion-item>
	  <ion-input type ="text" [(ngModel)]="num1"
	  placeholder="Insert 1st number">
	  </ion-input>
  </ion-item>
  <ion-item>
	<ion-input type ="text" [(ngModel)]="num2"
	placeholder="Insert 2nd number">
	</ion-input>
  </ion-item>
  <ion-item>
	<ion-button (click)="performAdd()" color="success">
		Add 2 numbers
	</ion-button>
  </ion-item>

  <!-- add numbers in ARRAY -->
  <ion-item>
	<ion-input type ="text" [(ngModel)]="n[0]"
	placeholder="Insert 1st number">
	</ion-input>
</ion-item>
<ion-item>
  <ion-input type ="text" [(ngModel)]="n[1]"
  placeholder="Insert 2nd number">
  </ion-input>
</ion-item>
<ion-item>
	<ion-input type ="text" [(ngModel)]="n[2]"
	placeholder="Insert 3rd number">
	</ion-input>
</ion-item>
<ion-item>
	<ion-input type ="text" [(ngModel)]="n[3]"
	placeholder="Insert 4th number">
	</ion-input>
  </ion-item>
<ion-item>
  <ion-button (click)="performAddArray()" color="warning">
	  Add numbers in Array
  </ion-button>
</ion-item>

</ion-content>
