<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Program-program Akademik
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Program-program Akademik</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="welcome-card">
    <img src="/assets/sainskomputer.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Program Diploma</ion-card-subtitle>
      <ion-card-title>SAINS KOMPUTER</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Apa pentingnya belajar Sains Komputer? Apps dan sistem seperti Instagram, WhatsApp, Zepto, RunCloud, Windows, Android, dll siapa yang bangunkan ? Semestinya pengaturcara (programmer) komputer terlibat secara signifikan untuk menukarkan idea kepada apps. Game Mobile Legend & PUBG contohnya juga memerlukan programmer untuk menyusun logik dan AI dalam enjin game tersebut.
      </p>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
      <img src="/assets/multimedia.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Program Diploma</ion-card-subtitle>
        <ion-card-title>MULTIMEDIA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dunia multimedia adalah dunia yang sangat menarik. Kalau melihat kepada aplikasi yang terhasil dari bidang multimedia ini betul-betul mengubah segenap aspek kehidupan seharian kita. Lihat sahaja bidang pengiklanan sekarang, dari mengiklan menggunakan poster, kini lebih ramai usahawan bertungkus lumus menghasilkan video viral dan menyiapkan channel youtube masing-masing agar nampak berbeza dan unik dimata bakal pelanggan mereka.
        </p>
        <br>
    </ion-card-content>
  </ion-card>
</ion-content>
