<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Insert new Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label>Product code</ion-label>
      <ion-input placeholder="Input product code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Product name</ion-label>
      <ion-input placeholder="Input product name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input placeholder="Input product price in RM"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="block">
      Save as new Product
    </ion-button>
  </ion-card>
</ion-content>
