<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Insert new Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/banner1.png">
    <ion-card-content>
        <ion-item>
          <ion-label>Product code</ion-label>
          <ion-input [(ngModel)]="productcode"
          placeholder="Input product code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Product name</ion-label>
          <ion-input [(ngModel)]="productname"
          placeholder="Input product name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Price</ion-label>
          <ion-input [(ngModel)]="price"
          placeholder="Input product price in RM">
          </ion-input>
        </ion-item>
        <ion-button color="primary" 
        (click)="insertproduct()"
        expand="block">
          Save as new Product
        </ion-button>
      </ion-card-content>
  </ion-card>
  <div *ngIf="price==null">
      Please enter product price!
    </div>
</ion-content>
