<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      ShareFSTM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sharefstm</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="./assets/sharefstm.png">
  <ion-item detail lines="full" [routerLink]="['/daftar']">
    Daftar<ion-icon name="person-add-outline" slot="start" 
    color="success"></ion-icon>
  </ion-item>
  <ion-item detail lines="full" [routerLink]="['/login']">
    Login<ion-icon name="lock-open-outline" slot="start" 
    color="success"></ion-icon>
  </ion-item>
  <ion-item detail lines="full" [routerLink]="['/login']">
    Logout<ion-icon name="lock-closed-outline" slot="start" 
    color="success"></ion-icon>
  </ion-item>
  <ion-item detail lines="full" [routerLink]="['/insert']">
    Tambah rekod baharu<ion-icon name="add-circle-outline" slot="start" 
    color="success"></ion-icon>
  </ion-item>
  <ion-item detail lines="full" [routerLink]="['/search']">
    Carian rekod<ion-icon name="search-circle-outline" slot="start" 
    color="success"></ion-icon>
  </ion-item>
  <ion-item detail lines="full" [routerLink]="['/login']">
    Padam rekod<ion-icon name="trash-outline" slot="start" 
    color="danger"></ion-icon>
  </ion-item>
  <ion-item detail lines="full">
    Like fb<ion-icon name="logo-facebook" 
    slot="start" color="primary"></ion-icon>
  </ion-item>
  <ion-item detail lines="full">
    Follow ig<ion-icon name="logo-instagram" 
    slot="start" color="tertiary"></ion-icon>
  </ion-item>

</ion-content>
