<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pengenalan FSTM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <img src="/assets/lanskap.png">
    <ion-card-header>
      <strong>FSTM KUIS</strong>
    </ion-card-header>
    <ion-card-content color="secondary">
      <p><strong>PENGENALAN FSTM KUIS</strong><br>
        Pada tahun 2011 penstrukturan semula telah dilakukan dengan nama Fakulti Sains dan Teknologi Maklumat (FSTM).
        </p>
        <br>
          <p>
        Kini, FSTM mempunyai dua buah jabatan utama iaitu Jabatan Teknologi Maklumat (Multimedia) dan Jabatan Sains Komputer.
        </p>
        <br>
          <p>
        Pelbagai program IT dipacukan bersama rakan teknologi industri seperti Microsoft, Redhat Academy, Cisco, Adobe dan Amazon Web Services.
        </p>
        <br>
          <p>
        ( http://www.kuis.edu.my/v4/kemasukan/program-pengajian )</p>
    </ion-card-content>
  </ion-card>
</ion-content>
